---
layout: default
---

<!-- begin post -->
<div class="container animate">


    <div class="post__content">
      {% for iframe in site.iframes %}
      <iframe src="{{ iframe.link }}" width="560" height="940" scrolling="no" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      {% endfor %}
        {{ content }}

    </div>


</div>
<!-- end post -->

<div class="container">
  <div class="row">
    <div class="col col-10 col-d-12 push-d-0 push-1">
      {% include post-navigation.html %}
    </div>
  </div>
</div>

{% include related-posts.html %}

{% if site.data.general_settings.disqus-identifier %}
  {% include disqus-comments.html %}
{% endif %}

{% bookshop
  newsletter newsletter_title=site.data.newsletter.newsletter_title
  newsletter_description=site.data.newsletter.newsletter_description
  newsletter_identifier=site.data.newsletter.newsletter_identifier
  newsletter_button=site.data.newsletter.newsletter_button
%}
